// Responsive mixins -----------------------------------

// Breakpoints

@mixin bp($value){
	@media only screen and (min-width:$value){
		@content;
	}
}

@mixin bp-under($value){
	@media only screen and (max-width:$value){
		@content;
	}
}

// Showing/hiding

@mixin only($breakpoint){
	display:none;
	@media only screen and (min-width:$breakpoint) {
    	display:block;
  	}
}

@mixin onlyunder($breakpoint){
	display:none;
	@media only screen and (max-width:$breakpoint) {
    	display:block;
  	}
}



// Colour -----------------------------------------------

// Black and White reset
$black:#000;
$white:#fff;
$gray:#fbfbfb;

// Interaction colours
$hover:blue;
$focus:blue;
$active:blue;

// Brand colours
$color-brand:#ce5151;
$color-accent:#d47d57;
$color-lines:$black;
$color-lines-light:#e0e0e0;
$color-text:$black;
$color-background:$white;



// Styling  ---------------------------------------

// Borders
$border:1px solid $color-lines;

@mixin box-shadow($box-shadow){
	box-shadow:$box-shadow;
}

// Rounded corners
@mixin rounded-corners($rounded-corners){
	border-radius:$rounded-corners;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}



// TYPOGRAPHY AND TEXT FORMATTING ----------------------------------

// Fonts
$font-sans:'Proxima Nova W01';
$font-serif:'Plantin W01';

@mixin font-main{
	font-family:$font-sans, sans-serif;
	font-weight:300;
}

// Change selection colour

::selection{
	background-color:gold;
	color:$white;
}

// Body text styling

.text-body{
	@include font-main;
	letter-spacing:0;
	color:$color-text;
	h1, h2, h3, h4, h5{
		margin-bottom:.7rem;
	}
	h1{
		font-size:1.5em;
	}
	h2{
		font-size:1.2em;
	}
	h3{
		font-size:1em;
	}
	h4{
		font-size:1em;
	}
	p, ul {
	  margin-top: 0;
	  margin-bottom: 1.5em;
	} 
}

// Other custom text mixins

@mixin text-blocky{
	text-transform:uppercase;
	letter-spacing:.07em;
}

@mixin text-tiny{
	font-size:1rem;
}

// Accessibility

.u--screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


// LINKS AND BUTTONS -----------------------------------

// Hover transition

@mixin link-transition(	$link-transition){
	transition:$link-transition;
}

// Link hover effect

@mixin hover-effect($hovercolor){
	@include link-transition(all .4s ease);
	&:hover{
		color:$hovercolor;
	}
}

// Link underline with hover effect

@mixin hover-effect-underline($hovercolor){
	display:inline-block;
	@include link-transition(all 1s ease);
	border-bottom:2px solid;
	padding-bottom:.3em;
	&:hover{
		border-bottom:2px solid $hovercolor;
	}
}

a{
	text-decoration:none;
	cursor:pointer;
	color:$black;
	@include hover-effect(blue);
	&:focus{
		color:$focus;
	};
	&:active{
		color:$active;
	}
  &.-underline{
    @include hover-effect-underline(blue);
  }
}


// Buttons -----------------------------------

@mixin btn-cta($radius,$textcolor,$bgcolor){
  color:$textcolor;
  background-color:$bgcolor;
  text-transform:uppercase;
	padding:1em 1.4em;
  &.--rounded{
    border-radius:$radius;
  }
  &.--inverted{
    color:$textcolor;
    background-color:$bgcolor;
  }
  &.--notransform{
    text-transform:none;
  }
}

.btn-cta{
  @include btn-cta(6px,$white,$color-accent);
}


// BASE STYLING -------------------------------------

html {
	font-family:$font-sans, sans-serif;
	font-weight:300;
	font-size:62.5%;
	line-height:1.3;
	color:$color-text;
	background-color:$color-background;
}

body{
  font-size:1.8em;
  @include bp(500px) {
    font-size:1.9em;
  }
  @include bp(700px) {
    font-size:2em;
  }
  @include bp(900px) {
    font-size:2.1em;
  }
  @include bp(1600px) {
    font-size:2.2em;
  }
}


// LAYOUT -----------------------------------


// Defaults

.container{
	@include outer-container(1200px);
  padding-left:10px;
  padding-right:10px;
}

.row{
	@include row();
}


// Main structure

html,body{
  width:100%;
  height:100%;
}

body{
  display:flex;
  overflow:hidden;
}

.menu{
  width:0;
  height:100%;
  z-index:1;
  background-color:$gray;
  .menu__inner{
    display:none;
    padding:2rem;
  }
  .nav__head{
    height:150px;
    display:flex;
    .header__button{
      align-items:center;
    }
  }
  nav{
    display:block;
    a{
      display:block;
    }
  }
}

.content{
  width:100%;
  height:100%;
  overflow-y:scroll;
}
	
	
//  HEADER -----------------------------------------------------------


header{
  display:flex;
  width:100%;
  height:100%;
  flex-wrap:wrap;
  align-content:flex-start;
  flex-direction:column;
  .header__head{
    background-color:$white;
  }
  .header-head__inner{
    width:100%;
    height:150px;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    .header__site-title{
      img{
			  max-width:250px;
        width:100%;
			  height:auto;
      }
    }
    .nav{
      flex-grow:2;
      nav{
        display:none;
      }
    }
  }
  .header__panel{
    width:100%;
    flex-grow:2;
    background-image:url(../img/content/hero.jpg);
    background-size:cover;
    background-position:center bottom;
    display:flex;
    align-items:center;
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 95%, 0 100%);
  }
  .header-panel__2{
    background-color:rgba(166,85,85,.6);
    width:100%;
    padding:4em;
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 91%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 91%);
  }
  .header-panel__content{
    color:$white;
    .panel__title{
      font-size:2.2em;
      max-width:860px;
    }
    .panel__intro{
      max-width:730px;
    }
  }
}// end header




//  GLOBALS -----------------------------------------------------------


i{
  color:#ce5151;
  font-size:1.2em;
}



//  FOOTER ------------------------------------------------------------


footer{
}
