// Responsive mixins -----------------------------------

// Breakpoints

@mixin bp($value){
	@media only screen and (min-width:$value){
		@content;
	}
}

@mixin bp-under($value){
	@media only screen and (max-width:$value){
		@content;
	}
}

// Showing/hiding

@mixin only($breakpoint){
	display:none;
	@media only screen and (min-width:$breakpoint) {
    	display:block;
  	}
}

@mixin onlyunder($breakpoint){
	display:none;
	@media only screen and (max-width:$breakpoint) {
    	display:block;
  	}
}



// Colour -----------------------------------------------

// Black and White reset
$black:#000;
$white:#fff;
$white-off:#f3f3f3;
$gray--light:#f1f1f1;

// Brand colours
$color-brand:#ce5151;
$color-accent:#d47d57;
$color-lines:$black;
$color-lines-light:#e0e0e0;
$color-text:$black;
$color-background:$white;

// Interaction colours
$hover:$color-brand;
$focus:$color-brand;
$active:$color-brand;


// Styling  ---------------------------------------

// Borders
$border:1px solid $color-lines;

@mixin border-indent(){
  border-bottom:1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 0 $white;
}

@mixin box-shadow($box-shadow){
	box-shadow:$box-shadow;
}

// Rounded corners
@mixin rounded-corners($rounded-corners){
	border-radius:$rounded-corners;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}



// TYPOGRAPHY AND TEXT FORMATTING ----------------------------------

// Fonts
$font-sans:'DIN Next W01';
$font-serif:'Plantin W01';

$font-weight:300;

@mixin font-main{
	font-family:$font-sans, sans-serif;
	font-weight:$font-weight;
}

// Change selection colour

::selection{
	background-color:$color-brand;
	color:$white;
}

// Body text styling

.text-body{
	@include font-main;
	letter-spacing:0;
	color:$color-text;
	h1, h2, h3, h4, h5{
		margin-bottom:.7rem;
	  font-weight:$font-weight;
	}
	h1{
		font-size:1.5em;
	}
	h2{
		font-size:1.2em;
	}
	h3{
		font-size:1em;
	}
	h4{
		font-size:1em;
	}
	p, ul {
	  margin-top: 0;
	  margin-bottom: 1.5em;
	} 
}

// Other custom text mixins

@mixin text-blocky{
	text-transform:uppercase;
	letter-spacing:.07em;
}

@mixin text-tiny{
	font-size:1rem;
}

// Accessibility

.u--screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


// LINKS AND BUTTONS -----------------------------------

// Hover transition

@mixin hover-transition(	$hover-transition){
	transition:$hover-transition;
}

// Link hover effect

@mixin hover-effect($hovercolor){
	@include hover-transition(all .4s ease);
	&:hover{
		color:$hovercolor;
	}
}

// Link underline with hover effect

@mixin hover-effect-underline($hovercolor){
	display:inline-block;
	@include hover-transition(all 1s ease);
	border-bottom:2px solid;
	padding-bottom:.3em;
	&:hover{
		border-bottom:2px solid $hovercolor;
	}
}

a{
	text-decoration:none;
	cursor:pointer;
	color:$black;
	@include hover-effect($hover);
	&:focus{
		color:$focus;
	}
	&:active{
		color:$active;
	}
  &.-underline{
    @include hover-effect-underline(blue);
  }
}


// Buttons -----------------------------------

@mixin btn-cta($radius,$textcolor,$bgcolor){
  color:$textcolor;
  background-color:$bgcolor;
  text-transform:uppercase;
	padding:1em 1.4em;
  font-size:.7em;
  border-radius:$radius;
  font-weight:500;
  margin-right:.8em;
  display:inline-block;
  position:relative;
  @include hover-transition(all .4s ease);
  &:after{
     content:'';
     display:block;
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background-color:rgba(0,0,0,.05);
  }
  &:hover{
     &:after{
       background-color:transparent;
     }
  }
  &.--inverted{
    color:$textcolor;
    background-color:$bgcolor;
  }
  &.--notransform{
    text-transform:none;
  }
}


// BASE STYLING -------------------------------------

html {
	font-family:$font-sans, sans-serif;
	font-weight:300;
	font-size:62.5%;
	line-height:1.3;
	color:$color-text;
	background-color:$color-background;
}

body{
  font-size:1.8em;
  @include bp(500px) {
    font-size:1.9em;
  }
  @include bp(700px) {
    font-size:2em;
  }
  @include bp(900px) {
    font-size:2.1em;
  }
  @include bp(1600px) {
    font-size:2.2em;
  }
}


// LAYOUT -----------------------------------


// Defaults

.container{
	@include outer-container(1200px);
  padding-left:2em;
  padding-right:2em;
  @include bp(1300px){
    padding:0;
  }
}

.row{
	@include row();
}


// Main structure

html,body{
  width:100%;
  height:100%;
}

body{
  display:flex;
  overflow:hidden;
}

.menu{
  width:0;
  height:100%;
  z-index:1;
  background-color:$gray--light;
  .menu__inner{
    display:none;
  }
  .nav__head{
    padding:0 2rem;
    height:150px;
    display:flex;
      border-bottom:1px solid rgba(0,0,0,.1);
      box-shadow: 0 1px 0 $white;
    .header__button{
      align-items:center;
    }
  }
  nav{
    display:block;
    a{
      display:block;
      padding:1.4rem 2rem;
      @include border-indent();
    }
  }
}

.content{
  width:100%;
  height:100%;
  overflow-y:scroll;
}

.content__backgrounds{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:$color-brand;
  z-index:-1;
  .panel-background{
    width:100%;
    height:100%;
    background-size:cover;
    &.--bg-content{
      background-image:url(../img/content/hero-content.jpg);
      background-position:center bottom;
    }
    &.--bg-web{
      background-image:url(../img/content/hero-web.jpg);
      background-position:center bottom;
    }
    &.--bg-seo{
      background-image:url(../img/content/hero-seo.jpg);
      background-position:center bottom;
    }
  }
}
	
//  HEADER -----------------------------------------------------------


header{
  display:block;
  @include bp(600px){
    display:flex;
    width:100%;
    height:100%;
    align-content:flex-start;
    flex-direction:column;
  }
  .header__head{
    width:100%;
    height:150px;
    position:fixed;
    background-color:$white;
    z-index:1;
  }
  .header-head__inner{
    width:100%;
    height:150px;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    .header__site-title{
      img{
        max-width:200px;
        @include bp(400px){
  			  max-width:250px;
        }
        width:100%;
			  height:auto;
      }
    }
    .nav{
      flex-grow:2;
      nav{
        display:none;
      }
    }
  }
  .header__panel{
    margin-top:150px;
    position:relative;
    width:100%;
    flex-grow:2;
    display:flex;
    align-items:center;
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 95%, 0 100%);
  }
  .header-panel__backgrounds{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$color-brand;
    z-index:-1;
    .panel-background{
      width:100%;
      height:100%;
      background-size:cover;
      &.--bg-content{
        background-image:url(../img/content/hero-content.jpg);
        background-position:center bottom;
      }
      &.--bg-web{
        background-image:url(../img/content/hero-web.jpg);
        background-position:center bottom;
      }
      &.--bg-seo{
        background-image:url(../img/content/hero-seo.jpg);
        background-position:center bottom;
      }
    }
  }
  
  .header-panel__2{
    background-color:rgba(166,85,85,.6);
    padding-top:4em;
    padding-bottom:2em;
    width:100%;
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 91%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 91%);
  }
  .header-panel__content{
    color:$white;
    .panel__title{
      font-size:2em;
      font-weight:500;
      max-width:1000px;
      color:#f3f3f3;
      @include bp(600px){
        font-size:3.6em;
      }
    }
    .panel__intro{
      max-width:730px;
      margin-bottom:1.8em;
    }
    
    .panel__cta-buttons{
      margin-bottom:2em;
      display:flex;
      flex-direction:column;
      @include bp(500px){
        flex-direction:row;
      }
    }
    
  }
}// end header


//  MAIN SECTION -------------------------------------------------------

main{
  width:100%;
  height:100%;
  .main__panel{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    .main-panel__2{
      background-color:rgba(0,0,0,.1);
      padding-top:4em;
      padding-bottom:2em;
      width:100%;
      -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 91%);
      clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 91%);
    }
    .main-panel__content{
      color:$black;
      .panel__title{
        font-size:2em;
        font-weight:500;
        max-width:1000px;
        color:$black;
        @include bp(600px){
          font-size:3.6em;
        }
      }
      .panel__intro{
        max-width:730px;
        margin-bottom:1.8em;
      }
    
      .panel__cta-buttons{
        margin-bottom:2em;
        display:flex;
        flex-direction:column;
        @include bp(500px){
          flex-direction:row;
        }
      }
    
    }
  } 
}


//  GLOBALS -----------------------------------------------------------


i{
  color:#ce5151;
  font-size:1.2em;
}

.cta-button{
  @include btn-cta(4px, $black, $white);
  margin-bottom:1em;
  text-align:center;
  @include bp(500px){
    text-align:left;
  }
  &.--content{
  }
}


//  FOOTER ------------------------------------------------------------


footer{
}
