/* HOMEPAGE --------------------------------------- */

@mixin page-colors($color){
  background-color:$color;
  footer{
    background-color:$color;
  }
  .m--content{
    h1,h2,h3,h4,h5{
      color:$color;
    } 
  }
  .m--content{
    border-top:5px solid $color;
  }
}

.landing-page{
  @include page-colors($about-bg){
  }
}
.content{
  @include page-colors($content-bg){
  }
}
.seo{
  @include page-colors($seo-bg){
  }
}
.web{
  @include page-colors($web-bg){
  }
}


.landing-page{
  
  ::selection{
  	color:$white;
  }
  header{
    position:absolute;
  }
  main{
    .main__panel{
      &.m--head{
        @include bp($bp2){
          height:450px;
        }
        .content__inner_full{
          padding-left:1em;
          .panel__title{
            margin:0;
          }
        }
      }
      &.m--content{
        padding-top:3em;
        background-color:$white;
        @include bp($bp2){
          padding-top:6em;
        }
        min-height:1000px;
      }
      &.m--contact{
        @include bp($bp2){
          min-height:560px;
        }
      }
    }
    .main-copy__inner{
      h1,h2,h3,h4,h5{
      }
      padding:0 1em;
      @include text-body;
      width:100%;
      padding-bottom:6em;
      position:relative;
      img, object{
        width:100%;
        height:auto;
      }
      @include bp($bp2){
        width:70%;
      }
    }
  }
  
}